:root {
	--md-ref-palette-neutral-variant-0: rgb(0, 0, 0),
	--md-ref-palette-neutral-variant-1: rgb(6, 6, 6),
	--md-ref-palette-neutral-variant-2: rgb(12, 13, 12),
	--md-ref-palette-neutral-variant-3: rgb(18, 19, 18),
	--md-ref-palette-neutral-variant-4: rgb(24, 26, 24),
	--md-ref-palette-neutral-variant-5: rgb(30, 32, 30),
	--md-ref-palette-neutral-variant-6: rgb(36, 38, 36),
	--md-ref-palette-neutral-variant-7: rgb(42, 45, 42),
	--md-ref-palette-neutral-variant-8: rgb(48, 51, 48),
	--md-ref-palette-neutral-variant-9: rgb(54, 57, 54),
	--md-ref-palette-neutral-variant-10: rgb(60, 64, 60),
	--md-ref-palette-neutral-variant-11: rgb(65, 70, 65),
	--md-ref-palette-neutral-variant-12: rgb(71, 77, 71),
	--md-ref-palette-neutral-variant-13: rgb(77, 83, 77),
	--md-ref-palette-neutral-variant-14: rgb(83, 89, 83),
	--md-ref-palette-neutral-variant-15: rgb(89, 96, 89),
	--md-ref-palette-neutral-variant-16: rgb(95, 102, 95),
	--md-ref-palette-neutral-variant-17: rgb(101, 108, 101),
	--md-ref-palette-neutral-variant-18: rgb(107, 115, 107),
	--md-ref-palette-neutral-variant-19: rgb(113, 121, 113),
	--md-ref-palette-neutral-variant-20: rgb(119, 128, 119),
	--md-ref-palette-neutral-variant-21: rgb(125, 134, 125),
	--md-ref-palette-neutral-variant-22: rgb(131, 140, 131),
	--md-ref-palette-neutral-variant-23: rgb(137, 147, 137),
	--md-ref-palette-neutral-variant-24: rgb(143, 153, 143),
	--md-ref-palette-neutral-variant-25: rgb(149, 159, 149),
	--md-ref-palette-neutral-variant-26: rgb(155, 166, 155),
	--md-ref-palette-neutral-variant-27: rgb(161, 172, 161),
	--md-ref-palette-neutral-variant-28: rgb(167, 179, 167),
	--md-ref-palette-neutral-variant-29: rgb(173, 185, 173),
	--md-ref-palette-neutral-variant-30: rgb(179, 191, 179),
	--md-ref-palette-neutral-variant-31: rgb(184, 198, 184),
	--md-ref-palette-neutral-variant-32: rgb(190, 204, 190),
	--md-ref-palette-neutral-variant-33: rgb(196, 210, 196),
	--md-ref-palette-neutral-variant-34: rgb(202, 217, 202),
	--md-ref-palette-neutral-variant-35: rgb(208, 223, 208),
	--md-ref-palette-neutral-variant-36: rgb(214, 229, 214),
	--md-ref-palette-neutral-variant-37: rgb(220, 236, 220),
	--md-ref-palette-neutral-variant-38: rgb(226, 242, 226),
	--md-ref-palette-neutral-variant-39: rgb(232, 249, 232),
	--md-ref-palette-neutral-variant-40: rgb(238, 255, 238),
	--md-ref-palette-neutral-variant-41: rgb(238, 255, 238),
	--md-ref-palette-neutral-variant-42: rgb(239, 255, 239),
	--md-ref-palette-neutral-variant-43: rgb(239, 255, 239),
	--md-ref-palette-neutral-variant-44: rgb(239, 255, 239),
	--md-ref-palette-neutral-variant-45: rgb(239, 255, 239),
	--md-ref-palette-neutral-variant-46: rgb(240, 255, 240),
	--md-ref-palette-neutral-variant-47: rgb(240, 255, 240),
	--md-ref-palette-neutral-variant-48: rgb(240, 255, 240),
	--md-ref-palette-neutral-variant-49: rgb(241, 255, 241),
	--md-ref-palette-neutral-variant-50: rgb(241, 255, 241),
	--md-ref-palette-neutral-variant-51: rgb(241, 255, 241),
	--md-ref-palette-neutral-variant-52: rgb(241, 255, 241),
	--md-ref-palette-neutral-variant-53: rgb(242, 255, 242),
	--md-ref-palette-neutral-variant-54: rgb(242, 255, 242),
	--md-ref-palette-neutral-variant-55: rgb(242, 255, 242),
	--md-ref-palette-neutral-variant-56: rgb(243, 255, 243),
	--md-ref-palette-neutral-variant-57: rgb(243, 255, 243),
	--md-ref-palette-neutral-variant-58: rgb(243, 255, 243),
	--md-ref-palette-neutral-variant-59: rgb(243, 255, 243),
	--md-ref-palette-neutral-variant-60: rgb(244, 255, 244),
	--md-ref-palette-neutral-variant-61: rgb(244, 255, 244),
	--md-ref-palette-neutral-variant-62: rgb(244, 255, 244),
	--md-ref-palette-neutral-variant-63: rgb(245, 255, 245),
	--md-ref-palette-neutral-variant-64: rgb(245, 255, 245),
	--md-ref-palette-neutral-variant-65: rgb(245, 255, 245),
	--md-ref-palette-neutral-variant-66: rgb(245, 255, 245),
	--md-ref-palette-neutral-variant-67: rgb(246, 255, 246),
	--md-ref-palette-neutral-variant-68: rgb(246, 255, 246),
	--md-ref-palette-neutral-variant-69: rgb(246, 255, 246),
	--md-ref-palette-neutral-variant-70: rgb(247, 255, 247),
	--md-ref-palette-neutral-variant-71: rgb(247, 255, 247),
	--md-ref-palette-neutral-variant-72: rgb(247, 255, 247),
	--md-ref-palette-neutral-variant-73: rgb(247, 255, 247),
	--md-ref-palette-neutral-variant-74: rgb(248, 255, 248),
	--md-ref-palette-neutral-variant-75: rgb(248, 255, 248),
	--md-ref-palette-neutral-variant-76: rgb(248, 255, 248),
	--md-ref-palette-neutral-variant-77: rgb(248, 255, 248),
	--md-ref-palette-neutral-variant-78: rgb(249, 255, 249),
	--md-ref-palette-neutral-variant-79: rgb(249, 255, 249),
	--md-ref-palette-neutral-variant-80: rgb(249, 255, 249),
	--md-ref-palette-neutral-variant-81: rgb(250, 255, 250),
	--md-ref-palette-neutral-variant-82: rgb(250, 255, 250),
	--md-ref-palette-neutral-variant-83: rgb(250, 255, 250),
	--md-ref-palette-neutral-variant-84: rgb(250, 255, 250),
	--md-ref-palette-neutral-variant-85: rgb(251, 255, 251),
	--md-ref-palette-neutral-variant-86: rgb(251, 255, 251),
	--md-ref-palette-neutral-variant-87: rgb(251, 255, 251),
	--md-ref-palette-neutral-variant-88: rgb(252, 255, 252),
	--md-ref-palette-neutral-variant-89: rgb(252, 255, 252),
	--md-ref-palette-neutral-variant-90: rgb(252, 255, 252),
	--md-ref-palette-neutral-variant-91: rgb(252, 255, 252),
	--md-ref-palette-neutral-variant-92: rgb(253, 255, 253),
	--md-ref-palette-neutral-variant-93: rgb(253, 255, 253),
	--md-ref-palette-neutral-variant-94: rgb(253, 255, 253),
	--md-ref-palette-neutral-variant-95: rgb(254, 255, 254),
	--md-ref-palette-neutral-variant-96: rgb(254, 255, 254),
	--md-ref-palette-neutral-variant-97: rgb(254, 255, 254),
	--md-ref-palette-neutral-variant-98: rgb(254, 255, 254),
	--md-ref-palette-neutral-variant-99: rgb(255, 255, 255),
	--md-ref-palette-neutral-variant-100: rgb(255, 255, 255),
};