:root {
	--md-ref-palette-secondary-0: rgb(0, 0, 0),
	--md-ref-palette-secondary-1: rgb(6, 0, 5),
	--md-ref-palette-secondary-2: rgb(13, 0, 10),
	--md-ref-palette-secondary-3: rgb(19, 0, 14),
	--md-ref-palette-secondary-4: rgb(26, 0, 19),
	--md-ref-palette-secondary-5: rgb(32, 0, 24),
	--md-ref-palette-secondary-6: rgb(38, 0, 29),
	--md-ref-palette-secondary-7: rgb(45, 0, 33),
	--md-ref-palette-secondary-8: rgb(51, 0, 38),
	--md-ref-palette-secondary-9: rgb(57, 0, 43),
	--md-ref-palette-secondary-10: rgb(64, 0, 48),
	--md-ref-palette-secondary-11: rgb(70, 0, 52),
	--md-ref-palette-secondary-12: rgb(77, 0, 57),
	--md-ref-palette-secondary-13: rgb(83, 0, 62),
	--md-ref-palette-secondary-14: rgb(89, 0, 67),
	--md-ref-palette-secondary-15: rgb(96, 0, 71),
	--md-ref-palette-secondary-16: rgb(102, 0, 76),
	--md-ref-palette-secondary-17: rgb(108, 0, 81),
	--md-ref-palette-secondary-18: rgb(115, 0, 85),
	--md-ref-palette-secondary-19: rgb(121, 0, 90),
	--md-ref-palette-secondary-20: rgb(128, 0, 95),
	--md-ref-palette-secondary-21: rgb(134, 0, 100),
	--md-ref-palette-secondary-22: rgb(140, 0, 104),
	--md-ref-palette-secondary-23: rgb(147, 0, 109),
	--md-ref-palette-secondary-24: rgb(153, 0, 114),
	--md-ref-palette-secondary-25: rgb(159, 0, 119),
	--md-ref-palette-secondary-26: rgb(166, 0, 124),
	--md-ref-palette-secondary-27: rgb(172, 0, 128),
	--md-ref-palette-secondary-28: rgb(179, 0, 133),
	--md-ref-palette-secondary-29: rgb(185, 0, 138),
	--md-ref-palette-secondary-30: rgb(191, 0, 143),
	--md-ref-palette-secondary-31: rgb(198, 0, 147),
	--md-ref-palette-secondary-32: rgb(204, 0, 152),
	--md-ref-palette-secondary-33: rgb(210, 0, 157),
	--md-ref-palette-secondary-34: rgb(217, 0, 162),
	--md-ref-palette-secondary-35: rgb(223, 0, 166),
	--md-ref-palette-secondary-36: rgb(229, 0, 171),
	--md-ref-palette-secondary-37: rgb(236, 0, 176),
	--md-ref-palette-secondary-38: rgb(242, 0, 181),
	--md-ref-palette-secondary-39: rgb(249, 0, 185),
	--md-ref-palette-secondary-40: rgb(255, 0, 190),
	--md-ref-palette-secondary-41: rgb(255, 4, 191),
	--md-ref-palette-secondary-42: rgb(255, 8, 192),
	--md-ref-palette-secondary-43: rgb(255, 13, 193),
	--md-ref-palette-secondary-44: rgb(255, 17, 194),
	--md-ref-palette-secondary-45: rgb(255, 21, 195),
	--md-ref-palette-secondary-46: rgb(255, 26, 197),
	--md-ref-palette-secondary-47: rgb(255, 30, 198),
	--md-ref-palette-secondary-48: rgb(255, 34, 199),
	--md-ref-palette-secondary-49: rgb(255, 38, 200),
	--md-ref-palette-secondary-50: rgb(255, 42, 201),
	--md-ref-palette-secondary-51: rgb(255, 47, 202),
	--md-ref-palette-secondary-52: rgb(255, 51, 203),
	--md-ref-palette-secondary-53: rgb(255, 55, 204),
	--md-ref-palette-secondary-54: rgb(255, 60, 205),
	--md-ref-palette-secondary-55: rgb(255, 64, 206),
	--md-ref-palette-secondary-56: rgb(255, 68, 207),
	--md-ref-palette-secondary-57: rgb(255, 72, 208),
	--md-ref-palette-secondary-58: rgb(255, 76, 210),
	--md-ref-palette-secondary-59: rgb(255, 81, 211),
	--md-ref-palette-secondary-60: rgb(255, 85, 212),
	--md-ref-palette-secondary-61: rgb(255, 89, 213),
	--md-ref-palette-secondary-62: rgb(255, 94, 214),
	--md-ref-palette-secondary-63: rgb(255, 98, 215),
	--md-ref-palette-secondary-64: rgb(255, 102, 216),
	--md-ref-palette-secondary-65: rgb(255, 106, 217),
	--md-ref-palette-secondary-66: rgb(255, 110, 218),
	--md-ref-palette-secondary-67: rgb(255, 115, 219),
	--md-ref-palette-secondary-68: rgb(255, 119, 220),
	--md-ref-palette-secondary-69: rgb(255, 123, 221),
	--md-ref-palette-secondary-70: rgb(255, 127, 223),
	--md-ref-palette-secondary-71: rgb(255, 132, 224),
	--md-ref-palette-secondary-72: rgb(255, 136, 225),
	--md-ref-palette-secondary-73: rgb(255, 140, 226),
	--md-ref-palette-secondary-74: rgb(255, 145, 227),
	--md-ref-palette-secondary-75: rgb(255, 149, 228),
	--md-ref-palette-secondary-76: rgb(255, 153, 229),
	--md-ref-palette-secondary-77: rgb(255, 157, 230),
	--md-ref-palette-secondary-78: rgb(255, 162, 231),
	--md-ref-palette-secondary-79: rgb(255, 166, 232),
	--md-ref-palette-secondary-80: rgb(255, 170, 233),
	--md-ref-palette-secondary-81: rgb(255, 174, 234),
	--md-ref-palette-secondary-82: rgb(255, 178, 236),
	--md-ref-palette-secondary-83: rgb(255, 183, 237),
	--md-ref-palette-secondary-84: rgb(255, 187, 238),
	--md-ref-palette-secondary-85: rgb(255, 191, 239),
	--md-ref-palette-secondary-86: rgb(255, 195, 240),
	--md-ref-palette-secondary-87: rgb(255, 200, 241),
	--md-ref-palette-secondary-88: rgb(255, 204, 242),
	--md-ref-palette-secondary-89: rgb(255, 208, 243),
	--md-ref-palette-secondary-90: rgb(255, 213, 244),
	--md-ref-palette-secondary-91: rgb(255, 217, 245),
	--md-ref-palette-secondary-92: rgb(255, 221, 246),
	--md-ref-palette-secondary-93: rgb(255, 225, 247),
	--md-ref-palette-secondary-94: rgb(255, 229, 249),
	--md-ref-palette-secondary-95: rgb(255, 234, 250),
	--md-ref-palette-secondary-96: rgb(255, 238, 251),
	--md-ref-palette-secondary-97: rgb(255, 242, 252),
	--md-ref-palette-secondary-98: rgb(255, 246, 253),
	--md-ref-palette-secondary-99: rgb(255, 251, 254),
	--md-ref-palette-secondary-100: rgb(255, 255, 255),
};