:root {
	--md-ref-palette-primary-0: rgb(0, 0, 0),
	--md-ref-palette-primary-1: rgb(1, 4, 1),
	--md-ref-palette-primary-2: rgb(2, 9, 2),
	--md-ref-palette-primary-3: rgb(3, 13, 4),
	--md-ref-palette-primary-4: rgb(4, 17, 5),
	--md-ref-palette-primary-5: rgb(5, 21, 6),
	--md-ref-palette-primary-6: rgb(6, 26, 7),
	--md-ref-palette-primary-7: rgb(8, 30, 8),
	--md-ref-palette-primary-8: rgb(9, 34, 9),
	--md-ref-palette-primary-9: rgb(10, 38, 11),
	--md-ref-palette-primary-10: rgb(11, 43, 12),
	--md-ref-palette-primary-11: rgb(12, 47, 13),
	--md-ref-palette-primary-12: rgb(13, 51, 14),
	--md-ref-palette-primary-13: rgb(14, 56, 15),
	--md-ref-palette-primary-14: rgb(15, 60, 16),
	--md-ref-palette-primary-15: rgb(16, 64, 18),
	--md-ref-palette-primary-16: rgb(17, 68, 19),
	--md-ref-palette-primary-17: rgb(18, 73, 20),
	--md-ref-palette-primary-18: rgb(19, 77, 21),
	--md-ref-palette-primary-19: rgb(20, 81, 22),
	--md-ref-palette-primary-20: rgb(22, 86, 24),
	--md-ref-palette-primary-21: rgb(23, 90, 25),
	--md-ref-palette-primary-22: rgb(24, 94, 26),
	--md-ref-palette-primary-23: rgb(25, 98, 27),
	--md-ref-palette-primary-24: rgb(26, 103, 28),
	--md-ref-palette-primary-25: rgb(27, 107, 29),
	--md-ref-palette-primary-26: rgb(28, 111, 31),
	--md-ref-palette-primary-27: rgb(29, 115, 32),
	--md-ref-palette-primary-28: rgb(30, 120, 33),
	--md-ref-palette-primary-29: rgb(31, 124, 34),
	--md-ref-palette-primary-30: rgb(32, 128, 35),
	--md-ref-palette-primary-31: rgb(33, 133, 36),
	--md-ref-palette-primary-32: rgb(34, 137, 38),
	--md-ref-palette-primary-33: rgb(35, 141, 39),
	--md-ref-palette-primary-34: rgb(37, 145, 40),
	--md-ref-palette-primary-35: rgb(38, 150, 41),
	--md-ref-palette-primary-36: rgb(39, 154, 42),
	--md-ref-palette-primary-37: rgb(40, 158, 43),
	--md-ref-palette-primary-38: rgb(41, 162, 45),
	--md-ref-palette-primary-39: rgb(42, 167, 46),
	--md-ref-palette-primary-40: rgb(43, 171, 47),
	--md-ref-palette-primary-41: rgb(47, 172, 50),
	--md-ref-palette-primary-42: rgb(50, 174, 54),
	--md-ref-palette-primary-43: rgb(54, 175, 57),
	--md-ref-palette-primary-44: rgb(57, 177, 61),
	--md-ref-palette-primary-45: rgb(61, 178, 64),
	--md-ref-palette-primary-46: rgb(64, 179, 68),
	--md-ref-palette-primary-47: rgb(68, 181, 71),
	--md-ref-palette-primary-48: rgb(71, 182, 75),
	--md-ref-palette-primary-49: rgb(75, 184, 78),
	--md-ref-palette-primary-50: rgb(78, 185, 82),
	--md-ref-palette-primary-51: rgb(82, 186, 85),
	--md-ref-palette-primary-52: rgb(85, 188, 89),
	--md-ref-palette-primary-53: rgb(89, 189, 92),
	--md-ref-palette-primary-54: rgb(92, 191, 96),
	--md-ref-palette-primary-55: rgb(96, 192, 99),
	--md-ref-palette-primary-56: rgb(100, 193, 102),
	--md-ref-palette-primary-57: rgb(103, 195, 106),
	--md-ref-palette-primary-58: rgb(107, 196, 109),
	--md-ref-palette-primary-59: rgb(110, 198, 113),
	--md-ref-palette-primary-60: rgb(114, 199, 116),
	--md-ref-palette-primary-61: rgb(117, 200, 120),
	--md-ref-palette-primary-62: rgb(121, 202, 123),
	--md-ref-palette-primary-63: rgb(124, 203, 127),
	--md-ref-palette-primary-64: rgb(128, 205, 130),
	--md-ref-palette-primary-65: rgb(131, 206, 134),
	--md-ref-palette-primary-66: rgb(135, 207, 137),
	--md-ref-palette-primary-67: rgb(138, 209, 141),
	--md-ref-palette-primary-68: rgb(142, 210, 144),
	--md-ref-palette-primary-69: rgb(145, 212, 148),
	--md-ref-palette-primary-70: rgb(149, 213, 151),
	--md-ref-palette-primary-71: rgb(153, 214, 154),
	--md-ref-palette-primary-72: rgb(156, 216, 158),
	--md-ref-palette-primary-73: rgb(160, 217, 161),
	--md-ref-palette-primary-74: rgb(163, 219, 165),
	--md-ref-palette-primary-75: rgb(167, 220, 168),
	--md-ref-palette-primary-76: rgb(170, 221, 172),
	--md-ref-palette-primary-77: rgb(174, 223, 175),
	--md-ref-palette-primary-78: rgb(177, 224, 179),
	--md-ref-palette-primary-79: rgb(181, 226, 182),
	--md-ref-palette-primary-80: rgb(184, 227, 186),
	--md-ref-palette-primary-81: rgb(188, 228, 189),
	--md-ref-palette-primary-82: rgb(191, 230, 193),
	--md-ref-palette-primary-83: rgb(195, 231, 196),
	--md-ref-palette-primary-84: rgb(198, 233, 200),
	--md-ref-palette-primary-85: rgb(202, 234, 203),
	--md-ref-palette-primary-86: rgb(206, 235, 206),
	--md-ref-palette-primary-87: rgb(209, 237, 210),
	--md-ref-palette-primary-88: rgb(213, 238, 213),
	--md-ref-palette-primary-89: rgb(216, 240, 217),
	--md-ref-palette-primary-90: rgb(220, 241, 220),
	--md-ref-palette-primary-91: rgb(223, 242, 224),
	--md-ref-palette-primary-92: rgb(227, 244, 227),
	--md-ref-palette-primary-93: rgb(230, 245, 231),
	--md-ref-palette-primary-94: rgb(234, 247, 234),
	--md-ref-palette-primary-95: rgb(237, 248, 238),
	--md-ref-palette-primary-96: rgb(241, 249, 241),
	--md-ref-palette-primary-97: rgb(244, 251, 245),
	--md-ref-palette-primary-98: rgb(248, 252, 248),
	--md-ref-palette-primary-99: rgb(251, 254, 252),
	--md-ref-palette-primary-100: rgb(255, 255, 255),
};