:root {
	--md-ref-palette-neutral-0: rgb(0, 0, 0),
	--md-ref-palette-neutral-1: rgb(6, 6, 6),
	--md-ref-palette-neutral-2: rgb(13, 12, 13),
	--md-ref-palette-neutral-3: rgb(19, 18, 19),
	--md-ref-palette-neutral-4: rgb(26, 24, 26),
	--md-ref-palette-neutral-5: rgb(32, 30, 32),
	--md-ref-palette-neutral-6: rgb(38, 36, 38),
	--md-ref-palette-neutral-7: rgb(45, 42, 45),
	--md-ref-palette-neutral-8: rgb(51, 48, 51),
	--md-ref-palette-neutral-9: rgb(57, 54, 57),
	--md-ref-palette-neutral-10: rgb(64, 60, 64),
	--md-ref-palette-neutral-11: rgb(70, 65, 70),
	--md-ref-palette-neutral-12: rgb(77, 71, 77),
	--md-ref-palette-neutral-13: rgb(83, 77, 83),
	--md-ref-palette-neutral-14: rgb(89, 83, 89),
	--md-ref-palette-neutral-15: rgb(96, 89, 96),
	--md-ref-palette-neutral-16: rgb(102, 95, 102),
	--md-ref-palette-neutral-17: rgb(108, 101, 108),
	--md-ref-palette-neutral-18: rgb(115, 107, 115),
	--md-ref-palette-neutral-19: rgb(121, 113, 121),
	--md-ref-palette-neutral-20: rgb(128, 119, 128),
	--md-ref-palette-neutral-21: rgb(134, 125, 134),
	--md-ref-palette-neutral-22: rgb(140, 131, 140),
	--md-ref-palette-neutral-23: rgb(147, 137, 147),
	--md-ref-palette-neutral-24: rgb(153, 143, 153),
	--md-ref-palette-neutral-25: rgb(159, 149, 159),
	--md-ref-palette-neutral-26: rgb(166, 155, 166),
	--md-ref-palette-neutral-27: rgb(172, 161, 172),
	--md-ref-palette-neutral-28: rgb(179, 167, 179),
	--md-ref-palette-neutral-29: rgb(185, 173, 185),
	--md-ref-palette-neutral-30: rgb(191, 179, 191),
	--md-ref-palette-neutral-31: rgb(198, 184, 198),
	--md-ref-palette-neutral-32: rgb(204, 190, 204),
	--md-ref-palette-neutral-33: rgb(210, 196, 210),
	--md-ref-palette-neutral-34: rgb(217, 202, 217),
	--md-ref-palette-neutral-35: rgb(223, 208, 223),
	--md-ref-palette-neutral-36: rgb(229, 214, 229),
	--md-ref-palette-neutral-37: rgb(236, 220, 236),
	--md-ref-palette-neutral-38: rgb(242, 226, 242),
	--md-ref-palette-neutral-39: rgb(249, 232, 249),
	--md-ref-palette-neutral-40: rgb(255, 238, 255),
	--md-ref-palette-neutral-41: rgb(255, 238, 255),
	--md-ref-palette-neutral-42: rgb(255, 239, 255),
	--md-ref-palette-neutral-43: rgb(255, 239, 255),
	--md-ref-palette-neutral-44: rgb(255, 239, 255),
	--md-ref-palette-neutral-45: rgb(255, 239, 255),
	--md-ref-palette-neutral-46: rgb(255, 240, 255),
	--md-ref-palette-neutral-47: rgb(255, 240, 255),
	--md-ref-palette-neutral-48: rgb(255, 240, 255),
	--md-ref-palette-neutral-49: rgb(255, 241, 255),
	--md-ref-palette-neutral-50: rgb(255, 241, 255),
	--md-ref-palette-neutral-51: rgb(255, 241, 255),
	--md-ref-palette-neutral-52: rgb(255, 241, 255),
	--md-ref-palette-neutral-53: rgb(255, 242, 255),
	--md-ref-palette-neutral-54: rgb(255, 242, 255),
	--md-ref-palette-neutral-55: rgb(255, 242, 255),
	--md-ref-palette-neutral-56: rgb(255, 243, 255),
	--md-ref-palette-neutral-57: rgb(255, 243, 255),
	--md-ref-palette-neutral-58: rgb(255, 243, 255),
	--md-ref-palette-neutral-59: rgb(255, 243, 255),
	--md-ref-palette-neutral-60: rgb(255, 244, 255),
	--md-ref-palette-neutral-61: rgb(255, 244, 255),
	--md-ref-palette-neutral-62: rgb(255, 244, 255),
	--md-ref-palette-neutral-63: rgb(255, 245, 255),
	--md-ref-palette-neutral-64: rgb(255, 245, 255),
	--md-ref-palette-neutral-65: rgb(255, 245, 255),
	--md-ref-palette-neutral-66: rgb(255, 245, 255),
	--md-ref-palette-neutral-67: rgb(255, 246, 255),
	--md-ref-palette-neutral-68: rgb(255, 246, 255),
	--md-ref-palette-neutral-69: rgb(255, 246, 255),
	--md-ref-palette-neutral-70: rgb(255, 247, 255),
	--md-ref-palette-neutral-71: rgb(255, 247, 255),
	--md-ref-palette-neutral-72: rgb(255, 247, 255),
	--md-ref-palette-neutral-73: rgb(255, 247, 255),
	--md-ref-palette-neutral-74: rgb(255, 248, 255),
	--md-ref-palette-neutral-75: rgb(255, 248, 255),
	--md-ref-palette-neutral-76: rgb(255, 248, 255),
	--md-ref-palette-neutral-77: rgb(255, 248, 255),
	--md-ref-palette-neutral-78: rgb(255, 249, 255),
	--md-ref-palette-neutral-79: rgb(255, 249, 255),
	--md-ref-palette-neutral-80: rgb(255, 249, 255),
	--md-ref-palette-neutral-81: rgb(255, 250, 255),
	--md-ref-palette-neutral-82: rgb(255, 250, 255),
	--md-ref-palette-neutral-83: rgb(255, 250, 255),
	--md-ref-palette-neutral-84: rgb(255, 250, 255),
	--md-ref-palette-neutral-85: rgb(255, 251, 255),
	--md-ref-palette-neutral-86: rgb(255, 251, 255),
	--md-ref-palette-neutral-87: rgb(255, 251, 255),
	--md-ref-palette-neutral-88: rgb(255, 252, 255),
	--md-ref-palette-neutral-89: rgb(255, 252, 255),
	--md-ref-palette-neutral-90: rgb(255, 252, 255),
	--md-ref-palette-neutral-91: rgb(255, 252, 255),
	--md-ref-palette-neutral-92: rgb(255, 253, 255),
	--md-ref-palette-neutral-93: rgb(255, 253, 255),
	--md-ref-palette-neutral-94: rgb(255, 253, 255),
	--md-ref-palette-neutral-95: rgb(255, 254, 255),
	--md-ref-palette-neutral-96: rgb(255, 254, 255),
	--md-ref-palette-neutral-97: rgb(255, 254, 255),
	--md-ref-palette-neutral-98: rgb(255, 254, 255),
	--md-ref-palette-neutral-99: rgb(255, 255, 255),
	--md-ref-palette-neutral-100: rgb(255, 255, 255),
};